/* Global styles */
body {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

h3 {
    color: brown;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}


/* Navigation styles */
.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-top: 2rem;
}

/* Post entry styles */
.post-entry {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.post-entry h2 {
    color: lightskyblue;
    font-size: 24px;
    margin: 0.5rem 0;
}

.post-entry p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry h2 a:hover {
    color: red;
}

form input[type="submit"] {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding around text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
    font-size: 16px; /* Text size */
    font-weight: 600;
    font-family: 'Inter', sans-serif;

}

form input[type="submit"]:hover {
    background-color: chocolate; /* Darker green on hover */
}

/* Auto-resize textarea */
textarea {
    resize: horizontal; /* Allow vertical resizing */
    overflow: auto; /* Enable scroll bar if content overflows */
    min-height: 50px; /* Set minimum height */
}


/* Custom styling for Bootstrap alert component */
.alert {
    position: relative;
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-warning {
    color: #856404;
    background-color: #ffeeba;
    border-color: #ffeeba;
}

.alert-warning strong {
    font-weight: bold;
}

.alert .btn-close {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 0.75rem 1rem;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    line-height: 1;
}

.alert .btn-close:focus {
    outline: none;
}

.alert .btn-close:hover {
    color: #000;
}